In [1]:
%matplotlib inline
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [32]:
cpiData = pd.read_excel('CPI.xlsx', skiprows = range(9), header = 1)
cols=list(cpiData)
cols.remove('Year')
cols.remove('HALF1')
cols.remove('HALF2')
cpiData["Average"]=data[cols].mean(axis=1)
cpiData=data.set_index(keys="Year")
cpiData.head()

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,HALF1,HALF2,Average
Year,,,,,,,,,,,,,,,
1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,NaN,NaN,9.883333
1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,NaN,NaN,10.016667
1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,NaN,NaN,10.108333
1916,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6,NaN,NaN,10.883333
1917,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7,NaN,NaN,12.825000

In [12]:
r = requests.get("http://www.the-numbers.com/movie/records/All-Time-Domestic-Box-Office")
soup = BeautifulSoup(r.text)
allrows = soup.find_all("tr")
allrows

<class 'bs4.element.ResultSet'>

In [42]:
rawData = {'Year':[], 'Title':[], 'DBO':[], 'IBO':[], 'WBO':[]}
for movie in allrows[1:101]:
    td = movie.find_all('td')
    rawData['Year'].append(int(td[1].text))
    rawData['Title'].append(td[2].text)
    rawData['DBO'].append(int(td[3].text.strip('$').replace(',','')))
    rawData['IBO'].append(int(td[4].text.strip('$').replace(',','')))
    rawData['WBO'].append(int(td[5].text.strip('$').replace(',','')))
    
boxOfficeHits = pd.DataFrame(rawData).set_index(keys="Year")

boxOfficeHits.head()

            DBO         IBO                                 Title         WBO
Year
2015  936662225  1122000000  Star Wars Ep. VII: The Force Awakens  2058662225
2009  760507625  2023411357                                Avatar  2783918982
1997  658672302  1548943366                               Titanic  2207615668
2015  652198010  1018130015                        Jurassic World  1670328025
2012  623279547   896200000                          The Avengers  1519479547

In [43]:
#This does not work because years can have multiple box office hits!
#adj = df.merge(right = cpiData, left_on='Year', right_index = True)
boxOfficeHits.to_csv('boxOfficeHits.csv')
cpiData.to_csv('cpiData.csv')